/*  Базовая стилизация*/
body {
  margin: 0;
  padding: 0;
  min-width: 1146px;

  background-color: #849d8f;
  background-image: url('../img/slide-1.png');
  background-position: center 0;
  background-repeat: no-repeat;  
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', Arial, sans-serif;
}

/*нормализация*/
a {
  text-decoration: none;
}

/*общие классы*/
.body-catalog {
  background-image: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Т И П О Г Р А Ф И К А */

/*Заголовки*/
.category-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 26px;
  margin-top: 0;
}

.more-info-blog-new {
  font-weight: 500;
}

/*Главное меню*/
.nav {
  margin-top: 23px;
  -webkit-margin-top: 21px;
  padding: 0;
  list-style: none;
  color: #ffffff;
}

.nav-item {
  font-size: 16px;
  line-height: 18px;
}

.nav-item,
.user-links {
  position: relative;
  padding-bottom: 10px;
}

.nav-item > .submenu-nav {
  display: none;
}

.nav-item:hover > .submenu-nav,
.nav-item:focus > .submenu-nav {
  display: block;
}

.nav-item-link {
  color: #ffffff;
  font-weight: 700;
  padding: 6px 14px;
  display: block;
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: #000;
  background-color: #ffffff;
  border-radius: 20px;
  display: block;
}

.nav-item-link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.nav-item-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-item-link:hover span,
.nav-item-link:focus span {
  border: none;
}

.nav-item-current {
  background-color: #d07058;
  border-radius: 20px;
}

.nav-item-current span {
  border: none;
}

/*Выпадающее меню*/
.submenu-nav {
  padding: 0;
  list-style: none;

  background-color: #ffffff;
  color: #323232;
  font-size: 14px;
  line-height: 16px;

  position: absolute;
  z-index: 1;
  top: 36px;
  width: 143px;
  left: -7px;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.submenu-item {
  display: block;
  padding-top: 6px;
  padding-left: 20px;
  padding-bottom: 8px;
}

.submenu-item:nth-child(2) {
  margin-top: 6px;
}

.submenu-item:last-child {
  margin-bottom: 7px;
}

.submenu-item:hover, 
.submenu-item:focus {
  background-color: #fbded7;
}

.submenu-item:active {
  background-color: #f6b5a5;
}

.submenu-item-current {
  background-color: #d07058;
}

.submenu-item-new-goods::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 126px;
  background-color: rgba(0,0,0, 0.2);
  top: 37px;
  left: 7px;
}

.submenu-item-new-goods:hover,
.submenu-item-new-goods:focus {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.submenu-item-link,
.submenu-item-link:hover,
.submenu-item-link:focus,
.submenu-item-link:active,
.submenu-item-link:visited {
  color: #323232;
}

.submenu-item-new-goods {
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 12px;
}

.submenu-item-new-goods:hover,
.submenu-item-new-goods:focus,
.submenu-item-new-goods:active,
.submenu-item-new-goods:visited {
  background-color: #ffffff;
}

/*Уголок пользователя*/
.user-block {
  -webkit-margin-top: 23px;
  margin-top: 22px;  
  padding: 0;
  list-style: none;
}

.user-block,
.user-link {
  color: #ffffff;  
}

.user-links {
  display: block;
  position: relative;
}

.user-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px 16px;
  border-radius: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-link:hover .user-link-svg,
.user-link:focus .user-link-svg {
  fill: #323232;
}

.user-link:hover,
.user-link:focus {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.icon-enter {
  margin-right: 7px;
}

.icon-basket {
  margin-left: 16px;
  margin-right: 8px;
}

.search-link {
  width: 33px;
  height: 33px;
  padding: 0;
  border-radius: 50%;
}
.user-help-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.user-help-link,
.user-help-link:visited {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.user-help-link:hover,
.user-help-link:focus,
.user-help-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.cart-product-title {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  padding: 0;
  margin: 0;
}

.shop-info {
  font-weight: 700;
  text-align: right;
  position: relative;
  top: -7px;
}

.work-time {
  font-size: 14px;
  line-height: 16px;      
}

.work-phone {
  font-size: 22px;
  line-height: 24px;
}

.work-phone-link,
.work-phone-link:visited {
  color: #ffffff;
}
.work-phone-link:focus,
.work-phone-link:hover,
.work-phone-link:active {
  color: #ffbc9e;
}

/*Хлебные крошки*/

.breadcrumbs {  
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-item-link,
.breadcrumbs-item-link:visited {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.breadcrumbs-item-link:focus,
.breadcrumbs-item-link:hover,
.breadcrumbs-item-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

/*Основной контент*/
.slider {
  position: relative;
}

.slides {
  margin: 0;
  padding: 0 0 20px;
  list-style: none;
}

.slide-item {
  text-align: center;
  padding-bottom: 20px;
}

.slide-line {
  margin: 0 auto;
  width: 700px;
}

.slide-caption {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 31px;
}

.slides-toggles {
  position: absolute;
  bottom: 61px;
}

.slide-toggle {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;  
}

.slide-toggle:focus,
.slide-toggle-checked {
  background-color: #ffffff;
}

.slide-toggle:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.promo {
  font-weight: 700;
}

.promo-title {
  font-size: 35px;
  line-height: 41px;
}

.promo-desc {
  font-size: 18px;
  line-height: 22px;
}

.promo-raspberries {
  background-color: #762646;
  background-image: url('../img/bg-raspberries.jpg');
  background-repeat: repeat;
  background-position: top center;
  margin-right: 28px;
}

.promo-chocolate {
  background-color: #744834;
  background-image: url('../img/bg-chocolate.jpg');
  background-repeat: repeat;
  background-position: top center;
}

/*Каталог*/
.goods-list {
  padding: 0;
  list-style: none;
}

.goods-item-title {
  text-align: center;
}

.goods-item-link,
.goods-item-link:visited {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.goods-item-link:focus,
.goods-item-link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.goods-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  color: rgb(255, 255, 255);
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);

  position: absolute;
  bottom: 66px;
  top: 208px;
}

.goods-item-price span {
  font-size: 30px;
  margin-left: 24px;
}

.goods-item-price img {
  position: absolute;
  top: 6px;
  left: 80px;
}

.goods-item > .btn-product {
  position: absolute;
  bottom: -55px;
  left: 30px;

  display: none;
  z-index: 10;
}

.goods-item:hover > .btn-product,
.goods-item:focus > .btn-product {
  display: block;
}

.goods-item::after {
  position: absolute;
  content: '';
  width: 293px;
  height: 405px;
  left: -13px;
  top: -8px;
  border-radius: 5px;
}

.goods-item:hover::after,
.goods-item:focus::after {
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 7;
}

.goods-item-img {
  width: 267px;
  height: 267px;
  margin-bottom: 12px;
  border-radius: 50%;
}

.goods-best::before {
  position: absolute;
  content: '';
  width: 61px;
  height: 61px;
  border-radius: 50%;
  top: 0;
  background-image: url('../img/hit.svg');
  z-index: 10;
}

.features {
  color: #323232;
  border-radius: 15px;
  background-color: #ece0c6;
  background-image: url('../img/bg-wafer.jpg');
  background-repeat: repeat;
  background-position: top center;
}

.features-list {
  padding: 0;
  list-style: none;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 22px;
}

.feature::before {
  content: '';  
  width: 49px;
  height: 49px;

  position: absolute;
  left: -57px;
  top: -13px;
}

.feature-production::before {
  background-image: url('../img/ice-cream.svg');
}

.feature-natural-prod::before  {
  background-image: url('../img/eco.svg');
}

.feature-farms::before {
  background-image: url('../img/cow.svg');
}

.feature-thermopack::before  {
  background-image: url('../img/thermometer.svg');
}


.more-info {  
  color: #323232;
}

.more-info-blog {
  width: 520px;
  min-height: 170px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 26px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  background-image: url('../img/blog.jpg');
  background-repeat: no-repeat;
  margin-right: 28px;
}

.more-info-subscribe {
  width: 560px;
  min-height: 170px;
  border-radius: 15px;
  background-color: #f8f7f4;
  background-image: url('../img/bg-post.svg');
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.subscribe-wrap {
  width: 508px;
  height: 100%;
  background-color: #f8f7f4;
  border-radius: 15px;
  
  margin: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 33px;
}

.more-info-blog-new {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 3px;
}

.more-info-blog-link,
.more-info-blog-link:visited {
  text-decoration: underline;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  max-width: 290px;
  color: #323232;
}

.more-info-blog-link:hover,
.more-info-blog-link:focus,
.more-info-blog-link:active {
  color: #e84d37;
}

.more-info-subscribe-txt {
  margin-top: 0;
  margin-bottom: 36px;
}
.map-contacts {
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;

  width: 302px;
  min-height: 305px;

  position: absolute;
  top: 63px;
  right: 27px;
  z-index: 2;
}

.map-info {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 243px;
}

.map-contacts-desc, 
.map-contacts-data,
.map-contacts-btn {
  margin-top: 0;
  margin-bottom: 0;
}

.map-contacts-btn {
  text-align: center;
}

.map-contacts-desc {
  font-size: 14px;
  line-height: 20px;
}

.desc-text,
.desc-phone {
  margin-top: 4px;
}

.map-contacts-data {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.map-contacts-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-contacts-phone {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

.map-pin::before {
  content: '';
  position: absolute;
  background-image: url('../img/pin.svg');
  width: 80px;
  height: 140px;
  left: 266px;
  top: 138px;
}

.map-pin::after {
  content: '';
  position: absolute;
  background-image: url('../img/pin-shadow.png');
  width: 182px;
  height: 110px;
  left: 305px;
  top: 170px; 
}

.pagination-item-link,
.pagination-item-link:visited,
.pagination-item-disabled {
  font-weight: 500;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
}

.pagination-item-disabled {
  width: 8px;
  margin-right: 15px;
}

.pagination-item-link:last-of-type {
  width: 8px;
  margin-left: 13px;
}

.pagination-item-link:hover:last-of-type,
.pagination-item-link:focus:last-of-type {
  background-color: transparent;
}

.pagination-item-link:hover,
.pagination-item-link:focus {
  background-color: #9db1a5;
}

.pagination-item-link:active,
.pagination-item-current {
  color: #323232;
  background-color: #ffffff;
}

.pagination-item-back {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

/*Футер*/
.social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social a {
  color: #ffffff;
}

.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu-item {
  font-size: 13px;
  line-height: 18px;
}
.footer-menu-item-current {
  font-weight: 700;
}
.footer-menu-link,
.footer-menu-link:visited {
  color: #ffffff;
  position: relative;
}

.footer-menu-link span,
.footer-menu-link:visited span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
  color: #ffbc9e;
}

.footer-menu-link:hover .icon-heart,
.footer-menu-link:focus .icon-heart,
.footer-menu-link:active .icon-heart {
  fill: #ffbc9e;
}

.footer-menu-link:hover span,
.footer-menu-link:focus span,
.footer-menu-link:active span {
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.footer-icon {
  position: absolute;
  left: -22px;
  top: 2px;
}

.footer-menu-link + .icon-svg {
  text-decoration: none;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 33px;
  height: 33px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.502);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-link:active .social-icon {
  fill: #e9e9e9;
}

.copyright-txt {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
}

.copyright-link,
.copyright-link:visited {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

/* Ф О Р М Ы и К О Р З И Н А */

.modal,
.search-form,
.feedback-form {
  background-color: #f8f7f4;
}

.search-input,
.feedback-input,
.more-info-subscribe-mail {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.search-input::-webkit-input-placeholder,
.feedback-input::-webkit-input-placeholder,
.modal-input::-webkit-input-placeholder,
.modal-textarea::-webkit-input-placeholder,
.more-info-subscribe-mail::-webkit-input-placeholder {
  color: #999999;
}

.search-input:-ms-input-placeholder,
.feedback-input:-ms-input-placeholder,
.modal-input:-ms-input-placeholder,
.modal-textarea:-ms-input-placeholder,
.more-info-subscribe-mail:-ms-input-placeholder {
  color: #999999;
}

.search-input::placeholder,
.feedback-input::placeholder,
.modal-input::placeholder,
.modal-textarea::placeholder,
.more-info-subscribe-mail::placeholder {
  color: #999999;
}

.search-input:focus::-webkit-input-placeholder,
.feedback-input:focus::-webkit-input-placeholder,
.modal-input:focus::-webkit-input-placeholder,
.modal-textarea:focus::-webkit-input-placeholder,
.more-info-subscribe-mail:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-input:focus:-ms-input-placeholder,
.feedback-input:focus:-ms-input-placeholder,
.modal-input:focus:-ms-input-placeholder,
.modal-textarea:focus:-ms-input-placeholder,
.more-info-subscribe-mail:focus:-ms-input-placeholder {
  color: transparent;
}

.search-input:focus::placeholder,
.feedback-input:focus::placeholder,
.modal-input:focus::placeholder,
.modal-textarea:focus::placeholder,
.more-info-subscribe-mail:focus::placeholder {
  color: transparent;
}

.search-form {
  position: absolute;
  width: 342px;
  height: 85px;  
  left: -308px;
  top: 37px;
  padding: 20px 15px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border-radius: 7px;
  border: 1px solid #d3d3d2;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;

}

.search-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 313px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid #d3d3d2;

  padding: 10px 13px;
}

.search-input:hover {
  outline: none;
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: 9px 12px;
  color: #999999;
}

.search-input:focus {
  outline: none;
  
  color: #323232;
  font-weight: 700;

  border: 2px solid rgba(46, 136, 2284, 0.52);
  padding: 9px 12px;
}

.search-label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;

  position: absolute;
  top: 4px;
  left: 29px;
  display: none;
}

.search-input:focus + .search-label,
.search-input:hover + .search-label {  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
}

.user-links  > .search-form {
  display: none;
}

.user-links:hover > .search-form,
.user-links:focus > .search-form {
  display: block;
}

.feedback-form {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 277px;
  height: 214px;
  top: 37px;
  left: -182px;
  padding-top: 20px;
  padding-bottom: 21px;
  z-index: 3;

  border-radius: 7px;
  border: 1px solid #d3d3d2;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 238px;
  height: 44px;
}

.feedback-layout {
  margin: 0;
  padding: 0;
  position: relative;
}

.feedback-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 242px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid #d3d3d2;
  padding: 9px 13px;
}

.feedback-input:hover {
  outline: none;
  padding: 8px 12px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  color: #999999;
}

.feedback-input:focus {
  outline: none;
  padding: 8px 12px;
  border: 2px solid rgba(46, 136, 2284, 0.52);
  color: #323232;
  font-weight: 700;
}

.feedback-label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: -15px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;

  position: absolute;
  
  left: 14px;
  display: none;
}

.feedback-input:focus + .feedback-label { 
  display: block;
}

.user-links  > .feedback-form {
  display: none;
}

.user-links:hover > .feedback-form,
.user-links:focus > .feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-links  > .cart {
  display: none;
}

.user-links:hover > .cart,
.user-links:focus > .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart {
  position: absolute;
  left: -421px;
  width: 510px;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 20px 15px;
  top: 37px;
  min-height: 202px;
  z-index: 3;
}

.cart-btn {
  position: relative;
  width: 24px;
  vertical-align: -webkit-baseline-middle;
}

.cart-del {
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  z-index: 4;
  background: transparent;
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-del:hover,
.cart-del:focus {
  cursor: pointer;
}

.cart-name-product {  
  padding-left: 10px;
  width: 233px;
  padding-top: 10px;
  vertical-align: top;
}

.cart-img {
  vertical-align: top;
}

.cart-product-img {
  display: block;
  border-radius: 50%;
}

.cart-product-counts,
.cart-product-order-price {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-product-counts {
  padding-left: 13px;
  padding-right: 30px;  
}

.cart-product-order-price {
  width: 68px;
}

.cart-empty-block {
  height: 15px;
}

.cart-total-sum {
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 15px;
  padding-top: 13px;
  border-top: 1px solid #cacac7;
  text-align: right;
  margin-bottom: 24px;
}

.cart-order {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: right;
}

.cart-link {
  padding: 6px 0;
  width: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart-full-link {
  color: #323232;
  background-color: #ffffff;
  padding: 6px 16px 7px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart-full-link .icon-basket {
  margin-left: 0;
}

.cart-product-price {
  color: #999999;
}

.cart-total {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323323;
}

.subscribe-form {
  position: relative;
}

.more-info-subscribe-mail {
  font-size: 16px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 370px;
  height: 46px;
  border-radius: 7px;
  border: 1px solid #d3d3d2;

  padding: 9px 13px;
}

.more-info-subscribe-mail:hover {
  outline: none;
  padding: 8px 12px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  color: #999999;
}

.more-info-subscribe-mail:focus {
  outline: none;
  padding: 8px 12px;
  border: 2px solid rgba(46, 136, 2284, 0.52);
  color: #323232;
  font-weight: 700;
}

.more-info-subscribe-label {
  position: absolute;
  display: none;
}

.more-info-subscribe-label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: -15px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;

  position: absolute;
  
  left: 14px;
  display: none;
}

.more-info-subscribe-mail:focus + .more-info-subscribe-label {
  display: block;
}

.modal {
  position: fixed;

  top: 338px;
  left: 50%;

  z-index: 9999;
}

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-feedback {
  width: 427px;
  border-radius: 10px;
  margin-left: -237px;
  padding: 15px 25px 25px;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback-form-modal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 352px;
}

.modal-feedback-txt {
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  font-weight: 500;
  color: #323232;

  margin: 0;
  margin-bottom: 20px;
}

.modal-close {
  position: absolute;
  top: 13px;
  right: 14px;
  
  width: 22px;
  height: 22px;

  background-color: transparent;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;

  width: 22px;
  height: 3px;

  background-color: #323232;

  top: 9px;
  left: 0px;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 268px;
  height: 43px;
  border-radius: 7px;
  border: 1px solid #d3d3d2;
  padding: 9px 13px;
}

.modal-input:hover,
.modal-textarea:hover {
  outline: none;
  padding: 8px 12px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  color: #999999;
}

.modal-input:focus,
.modal-textarea:focus {
  outline: none;
  padding: 8px 12px;
  border: 2px solid rgba(46, 136, 2284, 0.52);
  color: #323232;
  font-weight: 700;
}

.modal-textarea {
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 430px;
  height: 154px;

  border-radius: 7px;
  border: 1px solid #d3d3d2;
  
  padding: 9px 13px;
  color: #999999;
}

.modal-label {
  position: absolute;

  -ms-flex-item-align: start;

      align-self: flex-start;
  top: -15px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;

  left: 14px;
  display: none;
}

.modal-input:focus + .modal-label,
.modal-textarea:focus + .modal-label  { 
  display: block;
}

.btn-send {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 0;
}

.filters {
  min-height: 135px;
  margin-bottom: 37px;
}

.fieldset-row {
  width: 861px;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  border: 0;
}

.filter-assortment {
  max-width: 211px;
}

.filter-price {
  width: 200px;
}

.filter-fillers {
  min-width: 705px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
}

.btn-filter {
  width: 145px;
}

.filter-background {
  background-color: #aabcb2;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.filter-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 5px;
}

.filter-assort,
.filter-assort-option {  
  padding-left: 15px;
  border: 0;
  line-height: 18px;
  font-weight: 500
}

.filter-assort {
  background: transparent;
  position: relative;
  z-index: 2;
  width: 110%;
  height: 37px;
  display: block;
  color: #ffffff;
}

.select-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding-right: 2px;
  border: none;
  background-color: #a9bab0;
  border-radius: 20px;
  width: 195px;
}

.select-container::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 16px;
  width: 9px;
  height: 5px;
  z-index: 0;
  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.select-container:hover,
.select-container:focus {
  background-color: #ffffff;
  z-index: 0;
}

.select-container:hover::after,
.select-container:focus::after {
  background-image: url(../img/select-arrow-hover.svg);
}

.filter-assort:hover {
  color: #323232;
}

.filter-assort-item,
.filter-value {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;  
  position: relative;
}

.filter-assort-item {
  margin-right: 17px;
  margin-left: 32px;
}

.filter-value {
 margin-right: 16px;
 margin-left: 30px;
}

.range-filter {
  width: 219px;
}

.range-controls {
  position: relative;
  height: 22px;
  padding-top: 16px;
  padding-right: 22px;
  padding-left: 21px;
  border-radius: 20px;
}

.range-controls-scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.range-controls-bar {
  width: 100px;
  height: 4px;
  background-color: #ffffff;
}

.range-controls-toggle {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  content: '';
  background-image: url('../img/filter-button.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.range-controls-toggle:hover,
.range-controls-toggle:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.range-controls-toggle-min {
  left: 33px;
}

.range-controls-toggle-max {
  left: 132px;
}

.filter-fat {
  width: 420px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.filter-radio {
  display: none;
}

.filter-radio + .filter-value::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -32px;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: scale(0.87);
      -ms-transform: scale(0.87);
          transform: scale(0.87);
  cursor: pointer;
}

.filter-radio:hover + .filter-value::before,
.filter-radio:focus + .filter-value::before {
  background-image: url('../img/radio-off-hover.svg');
  
}

.filter-radio:checked + .filter-value::before {
  background-image: url('../img/radio-on.svg');  
}

.filter-radio:hover:checked + .filter-value::before,
.filter-radio:focus:checked + .filter-value::before {
  background-image: url('../img/radio-on-hover.svg');  
}

.filter-radio:disabled + .filter-value::before {
  background-image: url('../img/radio-off-disabled.svg');
}

.filter-radio:disabled:checked + .filter-value::before {
  background-image: url('../img/radio-on-disabled.svg');  
}

.filter-checkbox {
  display: none;
}

.filter-assort-item::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 27px;
  height: 23px;
  top: -3px;
  left: -34px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: scale(0.82);
      -ms-transform: scale(0.82);
          transform: scale(0.82);
  cursor: pointer;
}


.filter-checkbox:hover + .filter-assort-item::before,
.filter-checkbox:focus + .filter-assort-item::before {
  background-image: url(../img/checkbox-off-hover.svg);
}

.filter-checkbox:checked + .filter-assort-item::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox:hover:checked + .filter-assort-item::before,
.filter-checkbox:focus:checked + .filter-assort-item::before {
  background-image: url(../img/checkbox-on-hover.svg);
}

.filter-checkbox:disabled + .filter-assort-item::before {
  background-image: url('../img/checkbox-off-disabled.svg');
}

.filter-checkbox:disabled:checked + .filter-assort-item::before {
  background-image: url('../img/checkbox-on-disabled.svg');  
}

/*Кнопки */
.btn {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  
  padding-top: 10px;
  padding-bottom: 10px; 
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f26843;
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #f58669;
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:         -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image:         -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background-color: #f26843;
  background-image: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image:         -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background-image:         -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback-btn {
  padding: 0;
  width: 101px;
  border: 0;  
  border-radius: 30px / 35px;
  height: 46px;
}

.btn-feedback {
  padding-left: 27px;
  padding-right: 27px;
  display: block;
} /*Открывает форму обратной связи, на карте*/

.btn-slider {
  font-size: 32px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  padding: 20px 40px;
  border-radius: 60px;
  display: inline-block;
}

.btn-order {
  padding-left: 15px;  
  padding-right: 15px;
}

.btn-subscribe {
  border: 0;
  min-height: 44px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-filter {
  background: #9cb0a4;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  height: 37px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 22px;
  display: inline-block;
  padding: 7px 30px;
}

.btn-filter:hover,
.btn-filter:focus {
  background: #ffffff;
  color: #323232;
  font-weight: 500;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-filter:active {
  background: #ededed;
  border: 0;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

/*С Е Т К И*/
.wrap {
  margin: 0 auto;
  padding: 0 27px;
  width: 1146px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-logo {
  margin-top: 9px;
  width: 154px;
  height: 64px;
  margin-right: 10px;
  display: block;
}

.nav {
  max-width: 689px;
  max-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-block {
  width: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crumbs-flex {
 margin-top: 0;margin-bottom: -5px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

.breadcrumbs-item {
  margin-right: 7px;
}

.work-time,
.work-phone {
  margin-top: 0;
  margin-bottom: 0;
}

.work-time {
    margin-bottom: 3px;
}

.promo {
  min-height: 230px;
  -webkit-margin-bottom: 37px;
  margin-bottom: 40px;
}

.slider {
  -webkit-margin-top: 269px;
  margin-top: 266px;
  min-height: 257px;
}

.promo-block {
  width: 520px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-title,
.promo-desc {
  margin-top: 0;
  margin-bottom: 0;
}

.promo-desc {
  margin-top: 16px;
}

.promo-desc:last-of-type {  
  margin-bottom: auto;
}

.btn-promo {
  margin-top: 40px; 
  -ms-flex-item-align: end; 
      align-self: flex-end;
  padding: 11px 22px;
}

.goods {
  margin-bottom: 39px;
}

.body-catalog .goods {
  margin-bottom: 0;  
}

.goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.goods-item {
  position: relative;
  width: 267px;
  min-height: 324px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.body-catalog .goods-item {
  margin-bottom: 39px;
}

.goods-item:hover,
.goods-item:focus {
  z-index: 10;  
}

.goods-item:nth-child(4n) {
  margin-right: 0;
}

.goods-item-img {
  width: 267px;
  height: 267px;
  margin-bottom: 12px;
  border-radius: 50%;
  z-index: 9;
}

.goods-item-title {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 45px;
  padding-left: 6px;
  padding-right: 7px;
  z-index: 9;
}

.goods-item-price {
  margin-top: 0;
  margin-bottom: 0;
  z-index: 9;
}

.features {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  margin-bottom: 40px;
}

.features-list {  
  margin: 0;
}

.feature {
  margin-left: 57px;
  margin-bottom: 23px;
  position: relative;
}

.more-info {
  margin-bottom: 40px;
}

.map {
  width: 1200px;
  height: 430px;
  margin-left: -27px;
  margin-right: -27px;
  position: relative;
}

.map-img {
  width: 1200px;
  height: 430px;
  display: block;
}

.pagination {
  text-align: right;
  text-align: end;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 83px;
  padding: 10px 0;
}

.main-footer::before {
  content: '';
  display: inline-block;
  min-height: 63px;
  visibility: hidden;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 6px;
  max-width: 350px;
  min-height: 40px;
}

.social-item {
  margin-right: 10px;
}

.second-menu {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;  
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 308px;
  max-width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.footer-menu {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 40px;
  margin-right: 5px;
}

.copyright {
  margin-top: -8px;
  max-width: 400px;
}

.copyright-txt {
  margin-top: -4px;
}
