/*  Базовая стилизация*/
body {
	margin: 0;
  padding: 0;

	background: #849d8f;
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Roboto', Arial, sans-serif;
}

/*нормализация*/
a {
	text-decoration: none;
}

/*общие классы*/
.hidden {
	display: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* Т И П О Г Р А Ф И К А */

/*Заголовки*/
.category-title {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

.more-info-blog-new {
	font-weight: 500;
}

/*Главное меню*/
.nav {
	margin: 20px 0;
  padding: 0;
  list-style: none;
	color: #ffffff;
	vertical-align: middle;
}

.nav-item {
	font-size: 16px;
	line-height: 18px;
}

.nav-item > .submenu-nav {
	display: none;
}

.nav-item:hover > .submenu-nav,
.nav-item:focus > .submenu-nav {
	display: block;
}

.nav-item-link {
	color: #ffffff;
	font-weight: 700;
}

.nav-item-link:hover,
.nav-item-link:focus {
	color: #000;
	background-color: #ffffff;
}

.nav-item-link span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-item-link:hover span,
.nav-item-link:focus span {
	border: none;
}

.nav-item-current {
	background-color: #d07058;
}

.nav-item-current span {
	border: none;
}

/*Выпадающее меню*/
.submenu-nav {
  padding: 0;
  list-style: none;

	background-color: #ffffff;
	color: #323232;
	font-size: 14px;
}

.submenu-item:hover, 
.submenu-item:focus {
	background-color: #fbded7;
}

.submenu-item:active {
	background-color: #f6b5a5;
}

.submenu-item-current {
	background-color: #d07058;
}

.submenu-item-link,
.submenu-item-link:hover,
.submenu-item-link:focus,
.submenu-item-link:active,
.submenu-item-link:visited {
	color: #323232;
}

.submenu-item-new-goods {
	font-weight: 700;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.submenu-item-new-goods:hover,
.submenu-item-new-goods:focus,
.submenu-item-new-goods:active,
.submenu-item-new-goods:visited {
	background-color: #ffffff;
}

/*Уголок пользователя*/
.user-block {
	margin: 20px 0;
  padding: 0;
  list-style: none;
}

.user-block,
.user-link {
	color: #ffffff;	
}

.user-link {
	font-size: 14px;
	line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-link:hover,
.user-link:focus {
  color: #323232;
	background-color: rgba(255, 255, 255, 1);
}

.user-help-paragraph {
	margin-top: 0;
	margin-bottom: 0;
}

.user-help-link,
.user-help-link:visited {
	color: #323232;
	font-size: 13px;
	line-height: 24px;
	border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.user-help-link:hover,
.user-help-link:focus,
.user-help-link:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.cart {
	background-color: #ffffff;
}

.cart-product-title {
	font-size: 14px;
	line-height: 16px;
	color: #323232;
}

.cart-product-counts,
.cart-product-order-price {
	font-size: 13px;
	line-height: 16px;
	color: #323232;
}

.cart-full-link {
  color: #323232;
  background-color: #ffffff;
}

.cart-product-price {
	color: #999999;
}

.cart-total {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
}

.breadcrumbs {
	font-size: 14px;
}

.shop-info {
  font-weight: 700;
}

.work-time {
	font-size: 14px;
	line-height: 16px;
}

.work-phone {
	font-size: 22px;
	line-height: 24px;
}

.work-phone-link,
.work-phone-link:visited {
	color: #ffffff;
}
.work-phone-link:focus,
.work-phone-link:hover,
.work-phone-link:active {
	color: #ffbc9e;
}

/*Хлебные крошки*/

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.breadcrumbs-item {
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs-item-link,
.breadcrumbs-item-link:visited {
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.breadcrumbs-item-link:focus,
.breadcrumbs-item-link:hover,
.breadcrumbs-item-link:active {
	color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

/*Основной контент*/

.slides {
	margin: 20px 0;
  padding: 0;
  list-style: none;
}

.slide-caption {
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.promo {
	font-weight: 700;
}

.promo-title {
	font-size: 35px;
	line-height: 41px;
}

.promo-desc {
	font-size: 18px;
	line-height: 22px;
}

.promo-raspberries {
	background-color: #762646;
	background-image: url('../img/bg-raspberries.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}

.promo-chocolate {
	background-color: #744834;
	background-image: url('../img/bg-chocolate.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}

/*Каталог*/
.goods-list {
  padding: 0;
  list-style: none;
}

.goods-item-title {
	text-align: center;
}

.goods-item-title span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.goods-item-price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.goods-item-price span {
	font-size: 30px;
}

.goods-item > .btn-product {
	display: none;
}

.goods-item:hover > .btn-product,
.goods-item:focus > .btn-product {
	display: block;
}

.goods-item:hover,
.goods-item:focus {
	border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  padding-left: 12px;
  padding-right: 12px;
}

.goods-item-img {
	width: 267px;
	height: 267px;
	margin-bottom: 12px;
	border-radius: 50%;
}

.features {
  color: #323232;
	border-radius: 15px;
	background-color: #ece0c6;
	background-image: url('../img/bg-wafer.jpg');
	background-repeat: repeat;
	background-position: top center;
}

.features-list {
	padding: 0;
  list-style: none;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.more-info {	
  color: #323232;
}

.more-info-blog {
  border-radius: 15px;
  background-color: #ffffff;
  background-image: url('../img/blog.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.more-info-subscribe {
  border-radius: 15px;
  background-color: #f8f7f4;
  background-image: url('../img/bg-post.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.more-info-blog-new {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.more-info-blog-link,
.more-info-blog-link:visited {
	text-decoration: underline;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	max-width: 290px;
	color: #323232;
}

.more-info-blog-link:hover,
.more-info-blog-link:focus,
.more-info-blog-link:active {
	color: #e84d37;
}

.more-info-subscribe-txt {
	margin-top: 0;
	margin-bottom: 40px;
}
.map-contacts {
	color: #323232;
	background-color: #ffffff;
  border-radius: 15px;
}

.map-contacts-desc, 
.map-contacts-data,
.map-contacts-btn {
	margin-top: 0;
	margin-bottom: 0;
}

.map-contacts-btn {
	text-align: center;
}

.map-contacts-desc {
	font-size: 14px;
	line-height: 20px;
}

.map-contacts-data {
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
}

.pagination {
	margin: 0;
	padding: 0;
	list-style: none; 
}

.pagination-item {
  line-height: 18px;
  font-weight: 500;
}

.pagination-item-link,
.pagination-item-link:visited {
	color: #ffffff;
}

.pagination-item-link:hover,
.pagination-item-link:focus {
  background-color: #9db1a5;
}

.pagination-item-link:active,
.pagination-item-current {
	color: #323232;
	background-color: #ffffff;
}
/*Футер*/
.social {
	padding: 0;
	margin: 0;
	list-style: none;
}

.social a {
	color: #ffffff;
}

.footer-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-menu-item {
	font-size: 13px;
	line-height: 18px;
}
.footer-menu-item-current {
	font-weight: 700;
}
.footer-menu-link,
.footer-menu-link:visited {
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active{
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.copyright-txt {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 20px;
}

.copyright-link,
.copyright-link:visited {
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
/*Формы*/
.modal,
.search-form,
.feedback-form {
	background-color: #f8f7f4;
}

.search-input,
.feedback-input,
.feedback-textarea,
.more-info-subscribe-mail {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
}

.search-input::placeholder,
.feedback-input::placeholder,
.feedback-textarea::placeholder
.more-info-subscribe-mail::placeholder {
	color: #999999;
}

.modal-feedback-txt {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	font-weight: 500;
	color: #323232;
}

.modal-label {
	font-size: 11px;
	line-height: 13px;
	color: #5b9ddf;
}

.filter-fieldset {
	border: 0;
}
.filter-background {
	background-color: #aabcb2;
}

.filter-title {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.filter-assort,
.filter-assort-option {
	background-color: #a9bab0;
}
.filter-assort,
.filter-assort-item,
.filter-value,
.filter-assort-option {
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.filter-assort:hover,
.filter-assort:focus {
	background-color: #ffffff;
	color: #323232;
	font-weight: 500;
}

/*Кнопки */
.btn {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;

	background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.btn:hover,
.btn:focus {
	background: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.btn:active {
	background: linear-gradient(to top, #f26843, #e74a35);
}

.btn-slider {
	font-size: 32px;
}

.btn-filter {
	background-color: #9cb0a4;
	background: #9cb0a4;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: #ffffff;
  background: #ffffff;
  color: #323232;
  font-weight: 500;
}

.btn-filter:active {
	background-color: #eaeaea;
  background: #eaeaea;
}
